#weather-widget-wrapper {
    background-color: #ffffff;
    border: #555555 solid 1px;
    border-radius: 10px;
    -webkit-box-shadow: 7px 7px 4px 2px #555555;
    -moz-box-shadow: 7px 7px 4px 2px #555555;
    box-shadow: 7px 7px 4px 2px #555555;
    /*display: none;*/
    font-family: 'Roboto', arial, sans-serif;
    height: 160px;
    margin: auto;
    position: relative;
    width: 310px;
}

#weather-widget-wrapper .weather-widget-top,
#weather-widget-wrapper .weather-widget-middle,
#weather-widget-wrapper .weather-widget-bottom {
    clear: both;
    float: none;
    overflow: hidden;
    padding: 2px 8px;
}

#weather-widget-wrapper .weather-widget-top {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

#weather-widget-wrapper .ww-temp {
    float: left;
    font-size: 56px;
    line-height: 70px;
}

#weather-widget-wrapper .ww-cond-icon {
    float: left;
    margin-left: 10px;
}

#weather-widget-wrapper .ww-cond-text {
    font-size: 12px;
    font-weight: 500;
    margin-top: -4px;
    text-align: center;
}

#weather-widget-wrapper .forecast {
    float: left;
    font-size: 12px;
    font-weight: 500;
    border-left: 1px solid #cccccc;
    width: 58px;
    padding: 0px;
    text-align: center;
    margin: auto;
}

#weather-widget-wrapper .forecast:first-child {
    border-left: none;
}

#weather-widget-wrapper .weather-error {
    padding: 20px;
    font-size: 20px;
}

#loader {
    background:#fff;
    opacity:.4;
    position:absolute;
    top:0;
    left:0;
    width:310px;
    height:160px;
    z-index:1000;
    text-align:center;
    display:none;
}
#loader img {
    position:relative;
    top:40px;
    margin:auto;
    vertical-align:middle;
    width:80px;
    height:80px;
}